# SQL and RDBMS

 * Data is generally stored in databases, rather than in flat files
     * Reduced redundancy
     * More consistent
     * Better backups!
     * Data entry/storage/retrieval is more efficient

There are many types of databases!

 * Sometimes, data is stored in tabular formats
 * Sometimes as documents (hierarchical)
 * Sometimes as a graph (network-based)

Today, we will look at Relational Database Management Systems (RDBMS)

![](./assets/relational_model.png)

## Characteristics of a Relational Database

 * Data are stored as tables (Rows and Columns)
 * All values are scalar (each row/column entry has exactly 1 value)
 * Each column has exactly 1 type (numeric, text, etc.)
 * Tables have Key columns, which are used to index the table
 * A Primary key is a column (or set of columns) that *uniquely* identifies a row in a table.
     * Must be unique
     * cannot be NULL
 * A Foreign key is a column whose value is required to match the primary key of another table

## Benefits of the Relational Model

 * Data is easy to retrieve and query
 * Flexible (easy to add/delete tables)
 * Reduced redundancy

## Disadvantages
 * Sometimes slow and difficult to scale
 * Not ideal for storing hierarchical data
 * Must adhere to a fixed schema (bad for unstructured data)

# Structured Query Language (SQL)

 * A language used to query data (and more!) from relational databases
 * Many different flavors depending on the database:
     * Oracle
     * Microsoft SQL
     * MySQL
     * etc.

## Database Tables

 * Every table has a name 
 * Contains records (rows)

In [1]:
import sqlite3 # library for working with sqlite database
conn = sqlite3.connect("./data/diabetes.db") # Create a connection to the on-disk database

In [2]:
import pandas as pd

#### Example Query

In [3]:
pd.read_sql("SELECT * FROM patient LIMIT 25", conn)

    index  patient_nbr             race  gender
0       0      8222157        Caucasian  Female
1       1     55629189        Caucasian  Female
2       2     86047875  AfricanAmerican  Female
3       3     82442376        Caucasian    Male
4       4     42519267        Caucasian    Male
5       5     82637451        Caucasian    Male
6       6     84259809        Caucasian    Male
7       7    114882984        Caucasian    Male
8       8     48330783        Caucasian  Female
9       9     63555939        Caucasian  Female
10     10     89869032  AfricanAmerican  Female
11     11     77391171  AfricanAmerican    Male
12     12     85504905        Caucasian  Female
13     13     77586282        Caucasian    Male
14     14     49726791  AfricanAmerican  Female
15     15     86328819  AfricanAmerican    Male
16     16     92519352  AfricanAmerican    Male
17     17    108662661        Caucasian  Female
18     18    107389323  AfricanAmerican    Male
19     19     69422211             None    Male
20     20     22864131             None  Female
21     21     21239181             None    Male
22     22     63000108  AfricanAmerican  Female
23     23    107400762        Caucasian  Female
24     24     62718876  AfricanAmerican  Female

In [4]:
pd.read_sql("SELECT * FROM sqlite_master where type='table'", conn)

,type,name,tbl_name,rootpage,sql
0,table,patient,patient,2,"CREATE TABLE ""patient"" (\n""index"" INTEGER,\n ..."
1,table,diagnosis,diagnosis,796,"CREATE TABLE ""diagnosis"" (\n""index"" INTEGER,\n..."
2,table,medications,medications,1888,"CREATE TABLE ""medications"" (\n""index"" INTEGER,..."
3,table,encounter,encounter,4317,"CREATE TABLE ""encounter"" (\n""index"" INTEGER,\n..."
4,table,ccs_crosswalk,ccs_crosswalk,6308,"CREATE TABLE ""ccs_crosswalk"" (\n""index"" INTEGE..."

### SELECT clause

```
SELECT column_name1, column_name2 
FROM table1```

In [5]:
pd.read_sql("SELECT race, gender FROM patient", conn)

                  race  gender
0            Caucasian  Female
1            Caucasian  Female
2      AfricanAmerican  Female
3            Caucasian    Male
4            Caucasian    Male
5            Caucasian    Male
6            Caucasian    Male
7            Caucasian    Male
8            Caucasian  Female
9            Caucasian  Female
10     AfricanAmerican  Female
11     AfricanAmerican    Male
12           Caucasian  Female
13           Caucasian    Male
14     AfricanAmerican  Female
15     AfricanAmerican    Male
16     AfricanAmerican    Male
17           Caucasian  Female
18     AfricanAmerican    Male
19                None    Male
20                None  Female
21                None    Male
22     AfricanAmerican  Female
23           Caucasian  Female
24     AfricanAmerican  Female
25               Other  Female
26           Caucasian    Male
27           Caucasian  Female
28           Caucasian    Male
29           Caucasian  Female
...                ...     ...
71743             None    Male
71744            Other    Male
71745        Caucasian    Male
71746        Caucasian  Female
71747        Caucasian    Male
71748        Caucasian    Male
71749        Caucasian  Female
71750        Caucasian  Female
71751        Caucasian    Male
71752  AfricanAmerican    Male
71753        Caucasian  Female
71754         Hispanic    Male
71755        Caucasian  Female
71756  AfricanAmerican  Female
71757        Caucasian    Male
71758             None  Female
71759        Caucasian  Female
71760        Caucasian  Female
71761        Caucasian    Male
71762        Caucasian    Male
71763        Caucasian  Female
71764        Caucasian  Female
71765        Caucasian    Male
71766            Other  Female
71767            Other    Male
71768        Caucasian  Female
71769            Other  Female
71770            Other  Female
71771        Caucasian  Female
71772        Caucasian    Male

[71773 rows x 2 columns]

#### SELECT DISTINCT

returns unique values

In [6]:
pd.read_sql("SELECT DISTINCT race, gender FROM patient", conn)

               race  gender
0         Caucasian  Female
1   AfricanAmerican  Female
2         Caucasian    Male
3   AfricanAmerican    Male
4              None    Male
5              None  Female
6             Other  Female
7             Other    Male
8             Asian    Male
9          Hispanic  Female
10         Hispanic    Male
11            Asian  Female
12            Other    None
13             None    None

### WHERE Clauses

Where clauses allow you to *filter* data in your SQL query. There are many logical operators that you can use with the WHERE clase. Here is a simple one:

In [7]:
pd.read_sql("SELECT DISTINCT race, gender FROM patient WHERE race = 'Caucasian'", conn)

        race  gender
0  Caucasian  Female
1  Caucasian    Male

In [8]:
pd.read_sql("SELECT patient_nbr FROM patient WHERE patient_nbr = 77586282", conn)

   patient_nbr
0     77586282

Here is a list of some operators you can use in your WHERE clause. 

![](./assets/WHEREclause.png)

#### BETWEEN

In [9]:
pd.read_sql("SELECT * FROM patient WHERE patient_nbr BETWEEN 10000 AND 99999", conn)

     index  patient_nbr             race  gender
0      222        48573  AfricanAmerican  Female
1      230        91305        Caucasian    Male
2      265        15849        Caucasian    Male
3      266        25434        Caucasian    Male
4      285        42867        Caucasian    Male
5      297        78246        Caucasian  Female
6      317        69921        Caucasian    Male
7      318        12447        Caucasian  Female
8      375        20295        Caucasian    Male
9      393        70110        Caucasian  Female
10     419        24696        Caucasian    Male
11     429        96165  AfricanAmerican  Female
12     443        40158        Caucasian  Female
13     446        45144        Caucasian    Male
14     502        27936        Caucasian    Male
15     566        52605        Caucasian    Male
16     601        74952        Caucasian    Male
17     630        13041        Caucasian  Female
18     687        13320        Caucasian    Male
19     723        13590        Caucasian    Male
20     963        99756  AfricanAmerican  Female
21    1001        94527        Caucasian    Male
22    1020        15210        Caucasian    Male
23    1258        76374        Caucasian  Female
24    1299        49860        Caucasian  Female
25    1351        95670        Caucasian    Male
26    1427        87138        Caucasian    Male
27    1506        69912        Caucasian  Female
28    1508        30051  AfricanAmerican    Male
29    1528        40392        Caucasian    Male
..     ...          ...              ...     ...
225  26517        14796  AfricanAmerican  Female
226  26864        44766  AfricanAmerican    Male
227  27166        14499        Caucasian    Male
228  27448        56295        Caucasian    Male
229  27767        55062  AfricanAmerican  Female
230  28982        64773        Caucasian    Male
231  29132        14688        Caucasian    Male
232  29463        97245        Caucasian    Male
233  29971        78408        Caucasian  Female
234  30164        83106  AfricanAmerican  Female
235  31576        16425  AfricanAmerican  Female
236  32351        14859        Caucasian    Male
237  32782        97911             None  Female
238  32784        92466        Caucasian    Male
239  33136        33930  AfricanAmerican  Female
240  33634        25956        Caucasian    Male
241  33785        89469        Caucasian    Male
242  34492        66618  AfricanAmerican    Male
243  35031        71127  AfricanAmerican  Female
244  35874        55629  AfricanAmerican  Female
245  36145        75573  AfricanAmerican    Male
246  36317        10377        Caucasian    Male
247  36352        55638        Caucasian  Female
248  36720        10863  AfricanAmerican  Female
249  43608        28530  AfricanAmerican  Female
250  65722        87255        Caucasian    Male
251  76664        35127        Caucasian  Female
252  80604        73206        Caucasian  Female
253  87655        79614        Caucasian    Male
254  89294        40104        Caucasian    Male

[255 rows x 4 columns]

#### LIKE

The `LIKE` operator lets you specify matches in text, much like regular expressions. However, it is considerably less powerful. The keys to know are the `%` and `_` operators.

`%` represents 0, one, or many characters (Wildcard)

`_` represents 1 character (Any)

In [10]:
pd.read_sql("SELECT DISTINCT race, gender FROM patient WHERE gender LIKE '%male'", conn)

               race  gender
0         Caucasian  Female
1   AfricanAmerican  Female
2         Caucasian    Male
3   AfricanAmerican    Male
4              None    Male
5              None  Female
6             Other  Female
7             Other    Male
8             Asian    Male
9          Hispanic  Female
10         Hispanic    Male
11            Asian  Female

In [12]:
pd.read_sql("SELECT DISTINCT race, gender FROM patient WHERE gender LIKE '__male'", conn)

              race  gender
0        Caucasian  Female
1  AfricanAmerican  Female
2             None  Female
3            Other  Female
4         Hispanic  Female
5            Asian  Female

#### IN

In [13]:
pd.read_sql("SELECT DISTINCT race, gender FROM patient WHERE race in ('Caucasian', 'Hispanic')", conn)

        race  gender
0  Caucasian  Female
1  Caucasian    Male
2   Hispanic  Female
3   Hispanic    Male

### LOGIC (AND/OR/NOT)

As you might imagine, you can create complex WHERE clauses by using the `AND`, `OR`, and `NOT` keywords. In addition, you can wrap the subclauses in parentheses to make sure that they execute together.

In [14]:
pd.read_sql("""SELECT DISTINCT race, gender 
                FROM patient 
                WHERE race in ('Caucasian', 'Hispanic')
                    AND gender = 'Female'
            """, conn)

        race  gender
0  Caucasian  Female
1   Hispanic  Female

In [16]:
pd.read_sql("""SELECT DISTINCT race, gender 
                    FROM patient 
                    WHERE race IN ('Caucasian', 'Hispanic') OR gender ='Female'
                    """, conn)

              race  gender
0        Caucasian  Female
1  AfricanAmerican  Female
2        Caucasian    Male
3             None  Female
4            Other  Female
5         Hispanic  Female
6         Hispanic    Male
7            Asian  Female

In [17]:
pd.read_sql("""SELECT DISTINCT race, gender 
                FROM patient 
                WHERE race in ('Caucasian', 'Hispanic')
                    OR NOT gender = 'Female'
            """, conn)

              race  gender
0        Caucasian  Female
1        Caucasian    Male
2  AfricanAmerican    Male
3             None    Male
4            Other    Male
5            Asian    Male
6         Hispanic  Female
7         Hispanic    Male

In [18]:
pd.read_sql("""SELECT DISTINCT race, gender
                FROM patient
                WHERE gender = 'Female' AND (race = 'Other' OR race = 'Asian')
""", conn)

    race  gender
0  Other  Female
1  Asian  Female

### ORDER BY

In [19]:
pd.read_sql("""SELECT patient_nbr, gender
                FROM patient
                ORDER BY patient_nbr
""", conn)

       patient_nbr  gender
0              135  Female
1              378  Female
2              729  Female
3              774  Female
4              927  Female
5             1152  Female
6             1305  Female
7             1314  Female
8             1629    Male
9             2025  Female
10            3069    Male
11            4302  Female
12            5220    Male
13            5337    Male
14            6174  Female
15            6228  Female
16            6309    Male
17            6696    Male
18            6723  Female
19            6939    Male
20            7128  Female
21            8154  Female
22            8208    Male
23            8460    Male
24            8748    Male
25           10377    Male
26           10422  Female
27           10827  Female
28           10863  Female
29           11394  Female
...            ...     ...
71743    188634893    Male
71744    188643956    Male
71745    188663279    Male
71746    188692781  Female
71747    188703698  Female
71748    188755484  Female
71749    188755646    Male
71750    188846312  Female
71751    188858885    Male
71752    188903993  Female
71753    188928527    Male
71754    188970179  Female
71755    189001796    Male
71756    189052124    Male
71757    189075614    Male
71758    189097331    Male
71759    189129353  Female
71760    189169511    Male
71761    189179321    Male
71762    189195422  Female
71763    189215762    Male
71764    189257846    Male
71765    189298877  Female
71766    189332087    Male
71767    189349430  Female
71768    189351095  Female
71769    189365864    Male
71770    189445127  Female
71771    189481478  Female
71772    189502619    Male

[71773 rows x 2 columns]

In [20]:
pd.read_sql("""SELECT patient_nbr, gender
                FROM patient
                ORDER BY patient_nbr DESC
""", conn)

       patient_nbr  gender
0        189502619    Male
1        189481478  Female
2        189445127  Female
3        189365864    Male
4        189351095  Female
5        189349430  Female
6        189332087    Male
7        189298877  Female
8        189257846    Male
9        189215762    Male
10       189195422  Female
11       189179321    Male
12       189169511    Male
13       189129353  Female
14       189097331    Male
15       189075614    Male
16       189052124    Male
17       189001796    Male
18       188970179  Female
19       188928527    Male
20       188903993  Female
21       188858885    Male
22       188846312  Female
23       188755646    Male
24       188755484  Female
25       188703698  Female
26       188692781  Female
27       188663279    Male
28       188643956    Male
29       188634893    Male
...            ...     ...
71743        11394  Female
71744        10863  Female
71745        10827  Female
71746        10422  Female
71747        10377    Male
71748         8748    Male
71749         8460    Male
71750         8208    Male
71751         8154  Female
71752         7128  Female
71753         6939    Male
71754         6723  Female
71755         6696    Male
71756         6309    Male
71757         6228  Female
71758         6174  Female
71759         5337    Male
71760         5220    Male
71761         4302  Female
71762         3069    Male
71763         2025  Female
71764         1629    Male
71765         1314  Female
71766         1305  Female
71767         1152  Female
71768          927  Female
71769          774  Female
71770          729  Female
71771          378  Female
71772          135  Female

[71773 rows x 2 columns]

### NULL values

In [21]:
pd.read_sql("""SELECT patient_nbr, gender
                FROM patient
                WHERE gender IS NULL
""", conn)

   patient_nbr gender
0    100695042   None
1     60524946   None
2     78119847   None

In [22]:
pd.read_sql("""SELECT patient_nbr, gender
                FROM patient
                WHERE gender = NULL
""", conn)

Empty DataFrame
Columns: [patient_nbr, gender]
Index: []

In [23]:
pd.read_sql("""SELECT patient_nbr, gender
                FROM patient
                WHERE gender IS NOT NULL
""", conn)

       patient_nbr  gender
0          8222157  Female
1         55629189  Female
2         86047875  Female
3         82442376    Male
4         42519267    Male
5         82637451    Male
6         84259809    Male
7        114882984    Male
8         48330783  Female
9         63555939  Female
10        89869032  Female
11        77391171    Male
12        85504905  Female
13        77586282    Male
14        49726791  Female
15        86328819    Male
16        92519352    Male
17       108662661  Female
18       107389323    Male
19        69422211    Male
20        22864131  Female
21        21239181    Male
22        63000108  Female
23       107400762  Female
24        62718876  Female
25        21861756  Female
26        40523301    Male
27       115196778  Female
28        41606064    Male
29        18196434  Female
...            ...     ...
71740    147936164    Male
71741     93806559    Male
71742    182499863    Male
71743     99489339  Female
71744    162949523    Male
71745    180189752    Male
71746    106722468  Female
71747     40181832  Female
71748     98476776    Male
71749    105807996    Male
71750     14701734  Female
71751     60201405    Male
71752    174477542  Female
71753     38726739  Female
71754    124767527    Male
71755    178662695  Female
71756    174755165  Female
71757    125764160  Female
71758    134647673    Male
71759    183766055    Male
71760    189481478  Female
71761    106392411  Female
71762    175326800    Male
71763    139605341  Female
71764    184875899    Male
71765    183087545  Female
71766    188574944  Female
71767    140199494  Female
71768    120975314  Female
71769    175429310    Male

[71770 rows x 2 columns]

### Min, Max, Count, Avg, Sum

SQL also has some built-in functions for summarizing data. For example, you can call `MIN(column_name)` and it will return the minimum of a column in a select statement

In [24]:
pd.read_sql("""SELECT MIN(num_medications), MAX(num_medications), AVG(num_medications)
                FROM encounter
""", conn)

   MIN(num_medications)  MAX(num_medications)  AVG(num_medications)
0                     1                    81             16.021844

### Aliases

Sometimes, SQL queries contain long table names, or column names, and it is easier to refer to them by another name, or alias. In addition, derived columns like those returned from MIN(), MAX(), etc. often look better when reformatted.

##### Column name alias

In [25]:
pd.read_sql("""SELECT MIN(num_medications) AS Minimum_medications, MAX(num_medications), AVG(num_medications)
                FROM encounter
""", conn)

   Minimum_medications  MAX(num_medications)  AVG(num_medications)
0                    1                    81             16.021844

# Joining Tables

The power of relational databases comes from their relation structure, which enables the user to merge tables together in order to combine information across tables.

In [26]:
pd.read_sql("""SELECT *
                FROM diagnosis
                LIMIT 10
""", conn)

   index  encounter_id diag_1 diag_2 diag_3
0      0       2278392  25083   None   None
1      1        149190   2760  25001   2550
2      2         64410   6480   2500   V270
3      3        500364   0080  25043   4030
4      4         16680   1970   1570   2500
5      5         35754   4140   4110   2500
6      6         55842   4140   4110   V450
7      7         63768   4280   4920   2500
8      8         12522   3980   4270   0380
9      9         15738   4340   1980   4860

In [29]:
pd.read_sql("""SELECT "ICD-9-CM CODE"
                FROM ccs_crosswalk
                LIMIT 10""", conn)

  ICD-9-CM CODE
0
1         01000
2         01001
3         01002
4         01003
5         01004
6         01005
7         01006
8         01010
9         01011

### 3 Important Types of Joins:

### Inner Join

![](./assets/innerjoin.png)

As the figure above shows, an inner join takes only the values of the join columns that are in BOTH tables and returns the result

In [30]:
pd.read_sql("""SELECT *
                FROM diagnosis
                INNER JOIN ccs_crosswalk ON diagnosis.diag_1 = ccs_crosswalk."ICD-9-CM CODE"
""", conn)

,index,encounter_id,diag_1,diag_2,diag_3,index,ICD-9-CM CODE,CCS CATEGORY,CCS CATEGORY DESCRIPTION,ICD-9-CM CODE DESCRIPTION,OPTIONAL CCS CATEGORY,OPTIONAL CCS CATEGORY DESCRIPTION
0,0,2278392,25083,None,None,2445,25083,50,DiabMel w/cm,DIAB W MANIF NEC TYPE I DM UNCONT (Begin 1993),,
1,1,149190,2760,25001,2550,2630,2760,55,Fluid/elc dx,HYPEROSMOLALITY,,
2,3,500364,0080,25043,4030,5447,0080,135,Intest infct,E. COLI ENTERITIS (Begin 1980 End 1992),,
3,4,16680,1970,1570,2500,2080,1970,42,2ndary malig,SECONDARY MALIG NEO LUNG,,
4,5,35754,4140,4110,2500,4681,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
5,6,55842,4140,4110,V450,4681,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
6,7,63768,4280,4920,2500,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
7,8,12522,3980,4270,0380,4559,3980,97,Carditis,RHEUMATIC MYOCARDITIS,,
8,9,15738,4340,1980,4860,4801,4340,109,Acute CVD,CEREBRAL THROMBOSIS (End 1993),,
9,11,36900,1570,2880,1970,1375,1570,17,Pancreas can,MAL NEO PANCREAS HEAD,,
10,12,40926,4280,25043,2506,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
11,13,42570,4280,4110,4270,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
12,14,62256,5180,9980,6270,5232,5180,130,Pleurisy,PULMONARY COLLAPSE,,
13,15,73578,9990,5070,9960,11505,9990,238,Complic proc,GENERALIZED VACCINIA,,
14,16,77076,4100,4110,4140,4632,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
15,17,84222,6820,1740,2500,7885,6820,197,Skin infectn,CELLULITIS OF FACE,,
16,19,148530,7370,4270,7140,8667,7370,209,Ot acq defor,ADOLES POSTURAL KYPHOSIS,,
17,20,150006,4100,4270,4280,4632,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
18,21,150048,5720,4560,4270,5994,5720,151,Oth liver dx,ABSCESS OF LIVER,,
19,22,182796,4100,4010,5820,4632,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
20,23,183930,V570,7150,V430,12594,V570,254,Rehab,BREATHING EXERCISES,,
21,24,216156,1890,4960,4270,1614,1890,33,Kidny/rnl ca,MALIG NEOPL KIDNEY,,
22,26,236316,4270,4280,4140,4754,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
23,29,252822,4280,4100,4140,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
24,33,293058,4730,9960,4820,5181,4730,126,Ot up rsp in,CHR MAXILLARY SINUSITIS,,
25,34,293118,4280,5850,4140,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
26,35,325848,4110,25001,4010,4672,4110,101,Coron athero,POST MI SYNDROME,,
27,36,325866,1740,1350,2500,1527,1740,24,Breast cancr,MALIG NEO NIPPLE,,
28,38,358776,9980,0410,4140,11478,9980,238,Complic proc,POSTOPERATIVE SHOCK (end 2011),,
29,40,383430,4140,4110,25001,4681,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
...,...,...,...,...,...,...,...,...,...,...,...,...
70529,101721,443282564,5990,5840,2760,6238,5990,159,UTI,URIN TRACT INFECTION NOS,,
70530,101724,443698988,5180,4110,3270,5232,5180,130,Pleurisy,PULMONARY COLLAPSE,,
70531,101725,443699066,4280,0380,4910,4771,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
70532,101726,443700206,3480,3440,9070,4346,3480,95,Oth nerv dx,CEREBRAL CYSTS,,
70533,101727,443700698,5300,2506,4270,5735,5300,138,Esophgeal dx,ACHALASIA & CARDIOSPASM,,
70534,101728,443710592,25082,7300,7070,2444,25082,50,DiabMel w/cm,DIAB W MANIF NEC TYPE II DM UNCONT (Begin 1993),,
70535,101729,443718458,2760,4660,4010,2630,2760,55,Fluid/elc dx,HYPEROSMOLALITY,,
70536,101732,443728472,4910,2500,2720,5189,4910,127,COPD,SIMPLE CHR BRONCHITIS,,
70537,101733,443729846,4910,4030,5850,5189,4910,127,COPD,SIMPLE CHR BRONCHITIS,,
70538,101734,443730002,5780,5850,4250,6056,5780,153,GI hemorrhag,HEMATEMESIS,,
70539,101735,443739044,5750,5770,2500,5968,5750,149,Biliary dx,ACUTE CHOLECYSTITIS,,
70540,101737,443775086,1820,V850,2850,1541,1820,25,Uterus cancr,MALIG NEO CORPUS UTERI,,
70541,101738,443775482,2750,2500,4010,2697,2750,58,Ot nutrit dx,DIS IRON METABOLISM (end 2010),,
70542,101739,443775740,4140,4010,2500,4681,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
70543,101740,443778398,4140,3190,2720,4681,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
70544,101744,443793992,4270,4280,4280,4754,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
70545,101745,443797076,6820,2500,4020,7885,6820,197,Skin infectn,CELLULITIS OF FACE,,
70546,101746,443797298,4270,4270,2500,4754,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
70547,101747,443804570,4100,3110,2500,4632,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
70548,101751,443835140,4240,4290,4860,4524,4240,96,Hrt valve dx,MITRAL VALVE DISORDER,,
70549,101752,443835512,3480,7840,7820,4346,3480,95,Oth nerv dx,CEREBRAL CYSTS,,
70550,101755,443842022,5920,5990,5180,6239,5920,160,Urin stone,CALCULUS OF KIDNEY,,
70551,101757,443842136,4910,5180,5110,5189,4910,127,COPD,SIMPLE CHR BRONCHITIS,,
70552,101758,443842340,2920,0080,3040,13553,2920,661,Substance-related disorders,DRUG WITHDRAWAL SYNDROME,,
70553,101759,443842778,4350,7840,2500,4832,4350,112,TIA,BASILAR ARTERY SYNDROME,,
70554,101760,443847176,3450,4380,4120,3161,3450,83,Epilepsy/cnv,GEN NONCONVULS EPILEPSY (Begin 1980 End 1989),,
70555,101761,443847548,25013,2910,4580,2417,25013,50,DiabMel w/cm,DIAB KETOACID TYPE I DM UNCONT (Begin 1993),,
70556,101762,443847782,5600,2760,7870,5902,5600,145,Int obstruct,INTUSSUSCEPTION,,
70557,101763,443854148,0380,5900,2960,431,0380,2,Septicemia,STREPTOCOCCAL SEPTICEMIA,,
70558,101765,443867222,5300,5300,7870,5735,5300,138,Esophgeal dx,ACHALASIA & CARDIOSPASM,,

### Left Join

![](./assets/leftjoin.png)

In [31]:
pd.read_sql("""SELECT *
                FROM diagnosis
                LEFT JOIN ccs_crosswalk ON diagnosis.diag_1 = ccs_crosswalk."ICD-9-CM CODE"
""", conn)

,index,encounter_id,diag_1,diag_2,diag_3,index,ICD-9-CM CODE,CCS CATEGORY,CCS CATEGORY DESCRIPTION,ICD-9-CM CODE DESCRIPTION,OPTIONAL CCS CATEGORY,OPTIONAL CCS CATEGORY DESCRIPTION
0,0,2278392,25083,None,None,2445.0,25083,50,DiabMel w/cm,DIAB W MANIF NEC TYPE I DM UNCONT (Begin 1993),,
1,1,149190,2760,25001,2550,2630.0,2760,55,Fluid/elc dx,HYPEROSMOLALITY,,
2,2,64410,6480,2500,V270,NaN,None,None,None,None,None,None
3,3,500364,0080,25043,4030,5447.0,0080,135,Intest infct,E. COLI ENTERITIS (Begin 1980 End 1992),,
4,4,16680,1970,1570,2500,2080.0,1970,42,2ndary malig,SECONDARY MALIG NEO LUNG,,
5,5,35754,4140,4110,2500,4681.0,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
6,6,55842,4140,4110,V450,4681.0,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
7,7,63768,4280,4920,2500,4771.0,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
8,8,12522,3980,4270,0380,4559.0,3980,97,Carditis,RHEUMATIC MYOCARDITIS,,
9,9,15738,4340,1980,4860,4801.0,4340,109,Acute CVD,CEREBRAL THROMBOSIS (End 1993),,
10,10,28236,2507,4030,9960,NaN,None,None,None,None,None,None
11,11,36900,1570,2880,1970,1375.0,1570,17,Pancreas can,MAL NEO PANCREAS HEAD,,
12,12,40926,4280,25043,2506,4771.0,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
13,13,42570,4280,4110,4270,4771.0,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
14,14,62256,5180,9980,6270,5232.0,5180,130,Pleurisy,PULMONARY COLLAPSE,,
15,15,73578,9990,5070,9960,11505.0,9990,238,Complic proc,GENERALIZED VACCINIA,,
16,16,77076,4100,4110,4140,4632.0,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
17,17,84222,6820,1740,2500,7885.0,6820,197,Skin infectn,CELLULITIS OF FACE,,
18,18,89682,4020,4250,4160,NaN,None,None,None,None,None,None
19,19,148530,7370,4270,7140,8667.0,7370,209,Ot acq defor,ADOLES POSTURAL KYPHOSIS,,
20,20,150006,4100,4270,4280,4632.0,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
21,21,150048,5720,4560,4270,5994.0,5720,151,Oth liver dx,ABSCESS OF LIVER,,
22,22,182796,4100,4010,5820,4632.0,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
23,23,183930,V570,7150,V430,12594.0,V570,254,Rehab,BREATHING EXERCISES,,
24,24,216156,1890,4960,4270,1614.0,1890,33,Kidny/rnl ca,MALIG NEOPL KIDNEY,,
25,25,221634,7860,4010,2500,NaN,None,None,None,None,None,None
26,26,236316,4270,4280,4140,4754.0,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
27,27,248916,9960,5850,25001,NaN,None,None,None,None,None,None
28,28,250872,2770,25002,2630,NaN,None,None,None,None,None,None
29,29,252822,4280,4100,4140,4771.0,4280,108,chf;nonhp,CONGESTIVE HEART FAILURE,,
...,...,...,...,...,...,...,...,...,...,...,...,...
101736,101736,443739152,5900,5640,2508,NaN,None,None,None,None,None,None
101737,101737,443775086,1820,V850,2850,1541.0,1820,25,Uterus cancr,MALIG NEO CORPUS UTERI,,
101738,101738,443775482,2750,2500,4010,2697.0,2750,58,Ot nutrit dx,DIS IRON METABOLISM (end 2010),,
101739,101739,443775740,4140,4010,2500,4681.0,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
101740,101740,443778398,4140,3190,2720,4681.0,4140,101,Coron athero,CORONARY ATHEROSCLEROSIS (End 1994),,
101741,101741,443787128,8200,4270,2760,NaN,None,None,None,None,None,None
101742,101742,443787512,2508,6820,9240,NaN,None,None,None,None,None,None
101743,101743,443793668,4860,2760,4280,NaN,None,None,None,None,None,None
101744,101744,443793992,4270,4280,4280,4754.0,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
101745,101745,443797076,6820,2500,4020,7885.0,6820,197,Skin infectn,CELLULITIS OF FACE,,
101746,101746,443797298,4270,4270,2500,4754.0,4270,106,Dysrhythmia,PAROX ATRIAL TACHYCARDIA,,
101747,101747,443804570,4100,3110,2500,4632.0,4100,100,Acute MI,AMI ANTEROLATERAL WALL (Begin 1980 End 1989),,
101748,101748,443811536,2950,3050,2500,NaN,None,None,None,None,None,None
101749,101749,443816024,7150,4010,2500,NaN,None,None,None,None,None,None
101750,101750,443824292,5740,5740,2500,NaN,None,None,None,None,None,None
101751,101751,443835140,4240,4290,4860,4524.0,4240,96,Hrt valve dx,MITRAL VALVE DISORDER,,
101752,101752,443835512,3480,7840,7820,4346.0,3480,95,Oth nerv dx,CEREBRAL CYSTS,,
101753,101753,443841992,2508,7300,7310,NaN,None,None,None,None,None,None
101754,101754,443842016,5740,5740,25002,NaN,None,None,None,None,None,None
101755,101755,443842022,5920,5990,5180,6239.0,5920,160,Urin stone,CALCULUS OF KIDNEY,,
101756,101756,443842070,9960,5850,4030,NaN,None,None,None,None,None,None
101757,101757,443842136,4910,5180,5110,5189.0,4910,127,COPD,SIMPLE CHR BRONCHITIS,,
101758,101758,443842340,2920,0080,3040,13553.0,2920,661,Substance-related disorders,DRUG WITHDRAWAL SYNDROME,,
101759,101759,443842778,4350,7840,2500,4832.0,4350,112,TIA,BASILAR ARTERY SYNDROME,,
101760,101760,443847176,3450,4380,4120,3161.0,3450,83,Epilepsy/cnv,GEN NONCONVULS EPILEPSY (Begin 1980 End 1989),,
101761,101761,443847548,25013,2910,4580,2417.0,25013,50,DiabMel w/cm,DIAB KETOACID TYPE I DM UNCONT (Begin 1993),,
101762,101762,443847782,5600,2760,7870,5902.0,5600,145,Int obstruct,INTUSSUSCEPTION,,
101763,101763,443854148,0380,5900,2960,431.0,0380,2,Septicemia,STREPTOCOCCAL SEPTICEMIA,,
101764,101764,443857166,9960,2850,9980,NaN,None,None,None,None,None,None
101765,101765,443867222,5300,5300,7870,5735.0,5300,138,Esophgeal dx,ACHALASIA & CARDIOSPASM,,

### Full Join (Full outer join)

![](./assets/fulljoin.png)

In [33]:
pd.read_sql("""SELECT *
                FROM diagnosis
                FULL JOIN ccs_crosswalk ON diagnosis.diag_1 = ccs_crosswalk."ICD-9-CM CODE"
""", conn)

DatabaseError: Execution failed on sql 'SELECT *
                FROM diagnosis
                FULL JOIN ccs_crosswalk ON diagnosis.diag_1 = ccs_crosswalk."ICD-9-CM CODE"
': RIGHT and FULL OUTER JOINs are not currently supported

### Group By:
Just like in Pandas, we have group by functionality in SQL as well.

In [35]:
pd.read_sql("""SELECT cx."CCS CATEGORY DESCRIPTION", COUNT(cx."CCS CATEGORY DESCRIPTION")
                FROM diagnosis dx
                INNER JOIN ccs_crosswalk cx ON dx.diag_1 = cx."ICD-9-CM CODE"
                GROUP BY cx."CCS CATEGORY DESCRIPTION"
""", conn)

,CCS CATEGORY DESCRIPTION,"COUNT(cx.""CCS CATEGORY DESCRIPTION"")"
0,2ndary malig,587
1,Abdomnl pain,561
2,Acq foot def,2
3,Acute CVD,2120
4,Acute MI,3614
5,Adjustment disorders,37
6,Alcohol-related disorders,370
7,Allergy,115
8,Anal/rectal,298
9,Anemia,861
10,Aneurysm,163
11,Anxiety disorders,3
12,Appendicitis,199
13,Art embolism,156
14,Asp pneumon,610
15,BPH,207
16,Back problem,1026
17,Biliary dx,312
18,Bladder cncr,112
19,Bnign ut neo,128
20,Bone/ct cncr,14
21,Brain/ns can,49
22,Breast cancr,181
23,Breast dx,36
24,Bronchitis,236
25,COPD,2331
26,Cardiac anom,14
27,Carditis,431
28,Cervix cancr,9
29,Chr kidney disease,16
...,...,...
149,Pulm hart dx,519
150,Rctm/anus ca,94
151,Rehab,1207
152,Rheum arth,44
153,SLE,25
154,Schizophrenia and other psychotic disorde,78
155,Septicemia,1688
156,Sexual Infxs,9
157,Skin infectn,2072
158,Skin melanom,4
159,Social admin,9
160,Sprain,73
161,Stomch cancr,62
162,Substance-related disorders,107
163,Superfic inj,58
164,TIA,1016
165,Teeth dx,49
166,Thyroid dsor,78
167,Tonsillitis,4
168,UTI,1690
169,Ulcer skin,257
170,Ulcerat col,98
171,Unclassified,30
172,Urin stone,403
173,Uterus cancr,108
174,Varicose vn,9
175,Viral infect,114
176,Wht blood dx,92
177,chf;nonhp,6862
178,gu cong anom,5

### Having

In [36]:
pd.read_sql("""SELECT ccs_crosswalk."CCS CATEGORY DESCRIPTION", COUNT(ccs_crosswalk."CCS CATEGORY DESCRIPTION") 
                FROM diagnosis
                INNER JOIN ccs_crosswalk ON diagnosis.diag_1 = ccs_crosswalk."ICD-9-CM CODE"
                GROUP BY ccs_crosswalk."CCS CATEGORY DESCRIPTION"
                HAVING COUNT(ccs_crosswalk."CCS CATEGORY DESCRIPTION") > 1000
""", conn)

   CCS CATEGORY DESCRIPTION  COUNT(ccs_crosswalk."CCS CATEGORY DESCRIPTION")
0                 Acute CVD                                             2120
1                  Acute MI                                             3614
2              Back problem                                             1026
3                      COPD                                             2331
4              Coma/brn dmg                                             2019
5              Complic proc                                             1318
6              Coron athero                                             6952
7              DiabMel w/cm                                             3998
8               Dysrhythmia                                             2867
9              Fluid/elc dx                                             1889
10             Htn complicn                                             1121
11              Pancreas dx                                             1057
12             Perip athero                                             1036
13                 Pleurisy                                             1464
14                    Rehab                                             1207
15               Septicemia                                             1688
16             Skin infectn                                             2072
17                      TIA                                             1016
18                      UTI                                             1690
19                chf;nonhp                                             6862

### Case Statements

In [37]:
pd.read_sql("""SELECT num_medications, 
                (CASE 
                    WHEN num_medications > 5 THEN "Greater than 5 medications"
                    WHEN num_medications <= 5 THEN "Less than or equal to 5 medications"
                END) AS GreaterThan5
                FROM encounter
""", conn)

        num_medications                         GreaterThan5
0                     1  Less than or equal to 5 medications
1                    18           Greater than 5 medications
2                    13           Greater than 5 medications
3                    16           Greater than 5 medications
4                     8           Greater than 5 medications
5                    16           Greater than 5 medications
6                    21           Greater than 5 medications
7                    12           Greater than 5 medications
8                    28           Greater than 5 medications
9                    18           Greater than 5 medications
10                   17           Greater than 5 medications
11                   11           Greater than 5 medications
12                   15           Greater than 5 medications
13                   31           Greater than 5 medications
14                    2  Less than or equal to 5 medications
15                   13           Greater than 5 medications
16                   17           Greater than 5 medications
17                   11           Greater than 5 medications
18                   23           Greater than 5 medications
19                   23           Greater than 5 medications
20                   19           Greater than 5 medications
21                   11           Greater than 5 medications
22                   12           Greater than 5 medications
23                   19           Greater than 5 medications
24                   18           Greater than 5 medications
25                    7           Greater than 5 medications
26                   18           Greater than 5 medications
27                   11           Greater than 5 medications
28                   20           Greater than 5 medications
29                   14           Greater than 5 medications
...                 ...                                  ...
101736               20           Greater than 5 medications
101737               25           Greater than 5 medications
101738               10           Greater than 5 medications
101739               14           Greater than 5 medications
101740                8           Greater than 5 medications
101741                8           Greater than 5 medications
101742               10           Greater than 5 medications
101743               26           Greater than 5 medications
101744               12           Greater than 5 medications
101745                7           Greater than 5 medications
101746                7           Greater than 5 medications
101747               19           Greater than 5 medications
101748               16           Greater than 5 medications
101749               29           Greater than 5 medications
101750               24           Greater than 5 medications
101751               65           Greater than 5 medications
101752                5  Less than or equal to 5 medications
101753               13           Greater than 5 medications
101754               33           Greater than 5 medications
101755               26           Greater than 5 medications
101756               17           Greater than 5 medications
101757               16           Greater than 5 medications
101758               22           Greater than 5 medications
101759               15           Greater than 5 medications
101760               25           Greater than 5 medications
101761               16           Greater than 5 medications
101762               18           Greater than 5 medications
101763                9           Greater than 5 medications
101764               21           Greater than 5 medications
101765                3  Less than or equal to 5 medications

[101766 rows x 2 columns]

## Execution Order (https://sqlbolt.com/lesson/select_queries_order_of_execution)

Under the hood, 

### 1. FROM and JOINs
The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.

### 2. WHERE
Once we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.

### 3. GROUP BY
The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.

### 4. HAVING
If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

### 5. SELECT
Any expressions in the SELECT part of the query are finally computed.

### 6. DISTINCT
Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

### 7. ORDER BY
If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

### 8. LIMIT / OFFSET
Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query.

### And much, much more...

### Resources:
[Interactive SQL book](https://selectstarsql.com/)

[Quick Reference](https://www.w3schools.com/sql/sql_quickref.asp)

## In-class exercises:

### Answer the following questions from HW2 with SQL statements instead of Pandas (answers my differ slightly due to preprocessing)

**How many unique encounters are there? How many unique patients?**

In [41]:
pd.read_sql("""SELECT COUNT(DISTINCT encounter_id) AS unique_encounters
                FROM encounter
""", conn)

   unique_encounters
0             101766

**What is the most amount of encounters that a single patient has in the dataset?**

In [48]:
pd.read_sql("""SELECT COUNT(encounter_id) Number_of_encounters 
                FROM encounter
                GROUP BY patient_nbr
                ORDER BY Number_of_encounters DESC
                LIMIT 1
""", conn)

   Number_of_encounters
0                    40

In [49]:
pd.read_sql("""SELECT MAX(inner.num_encounters)
            FROM (SELECT COUNT(encounter_id)
                    AS num_encounters
                    FROM encounter
                    GROUP BY patient_nbr) AS inner
""", conn)

   MAX(inner.num_encounters)
0                         40

**What is the average number of labs administered by race?**

## JOIN encounter with patient

In [53]:
pd.read_sql("""SELECT * FROM encounter LIMIT 5
""", conn).columns

Index(['index', 'encounter_id', 'patient_nbr', 'weight', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'payer_code', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'change', 'readmitted'],
      dtype='object')

In [55]:
pd.read_sql("""SELECT AVG(num_lab_procedures) AS average_labs, pat.race
                FROM encounter enc
                    INNER JOIN patient pat ON enc.patient_nbr = pat.patient_nbr
                GROUP BY race
""", conn)

   average_labs             race
0     44.190029             None
1     44.069732  AfricanAmerican
2     41.802343            Asian
3     42.835792        Caucasian
4     42.841210         Hispanic
5     43.776284            Other

**Create a new column that has the value of 1 if the medical specialty in that row contains the word Surgery and 0 otherwise** 

For this question, you can use the `LIKE` operator and `CASE` statements [Case Statements](https://www.w3schools.com/sql/sql_case.asp)

In [58]:
pd.read_sql("""SELECT enc.medical_specialty, 
                (CASE
                    WHEN enc.medical_specialty LIKE '%Surgery%' THEN 1
                    WHEN enc.medical_specialty NOT LIKE '%Surgery%' THEN 0
                END) AS is_surgery
                FROM encounter enc
                LIMIT 50
""", conn)

           medical_specialty  is_surgery
0   Pediatrics-Endocrinology         0.0
1                       None         NaN
2                       None         NaN
3                       None         NaN
4                       None         NaN
5                       None         NaN
6                       None         NaN
7                       None         NaN
8                       None         NaN
9           InternalMedicine         0.0
10                      None         NaN
11                      None         NaN
12    Family/GeneralPractice         0.0
13    Family/GeneralPractice         0.0
14                      None         NaN
15                      None         NaN
16                      None         NaN
17                Cardiology         0.0
18                      None         NaN
19                      None         NaN
20                      None         NaN
21                      None         NaN
22                      None         NaN
23                      None         NaN
24                      None         NaN
25                      None         NaN
26                Cardiology         0.0
27           Surgery-General         1.0
28                      None         NaN
29                Cardiology         0.0
30                      None         NaN
31                      None         NaN
32    Family/GeneralPractice         0.0
33                      None         NaN
34                      None         NaN
35                Cardiology         0.0
36                      None         NaN
37                      None         NaN
38                      None         NaN
39                      None         NaN
40                Cardiology         0.0
41                      None         NaN
42                      None         NaN
43    Family/GeneralPractice         0.0
44                      None         NaN
45                      None         NaN
46          InternalMedicine         0.0
47                      None         NaN
48                      None         NaN
49                      None         NaN